<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!-- always have a trace appender for the debugger -->
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender" >
    <threshold value="DEBUG"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%-5p %message%newline" />
    </layout>
  </appender>

  <!-- Rolling File appender to track everything-->
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <converter>
        <name value="logname" />
        <type value="ConfigMgr.QuickTools.CMTrace.AssemblyNamePatternConverter, ConfigMgr.QuickTools" />
      </converter>
      <conversionPattern value="${ProgramData}\ConfigMgr QuickTools\Logs\%logname.log" />
    </file>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <!--log4net levels: Warn: 60000 Error: 70000  Info: 40000 Debug: 30000 Verbose: 10000 http://stackoverflow.com/questions/1998972/log4net-levels-numeric-values-->
      <!--CMTrace levels: Warn: 2     Error: 3      Info: 6     Debug: 5     Verbose: 4  -->
      <!--https://devstuffs.wordpress.com/2012/01/12/creating-your-own-pattern-layout-converter-for-log4net/-->
      <converter>
        <name value="numlevel" />
        <type value="ConfigMgr.QuickTools.CMTrace.NumericLevelPatternConverter, ConfigMgr.QuickTools" />
      </converter>
      <!--CMtrace Conversion with specifying the type of record (warning, error, info)-->
      <!--%LevelID is a custom field that has to be created in code TODO: http://stackoverflow.com/questions/12493915/log-log4net-numeric-level-value-->
      <!--<![LOG[%message]LOG]!><time="HH:mm:ss.fff-zzz" date="MM-dd-yyyy" component="%method" context="" type="%levelID" thread="%thread" file="%file:%line">-->
      <converter>
        <name value="utcoffset" />
        <type value="ConfigMgr.QuickTools.CMTrace.UTCOffsetPatternConverter, ConfigMgr.QuickTools" />
      </converter>
      <conversionPattern value="&lt;![LOG[%message]LOG]!&gt;&lt;time=&quot;%date{HH:mm:ss.fff}-%utcoffset&quot; date=&quot;%date{MM-dd-yyyy}&quot; component=&quot;%logger&quot; context=&quot;&quot; type=&quot;%numlevel&quot; thread=&quot;%thread&quot; file=&quot;&quot;&gt; %newline" />
    </layout>
    <threshold value="Info"/>
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="1" />
    <maximumFileSize value="1MB" />
  </appender>

  <root>
    <level value="ALL" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="RollingFileAppender"/>
  </root>
</log4net>
